.whyus-main {
  margin: 100px;
}
.whyus-title {
  font-weight: bolder;
  font-size: 2em;
  margin-left: 50px;
  margin-bottom: 50px;
  color: rgb(78, 78, 221);
}

.whyus-content {
  font-weight: 500;
  font-size: 1.5em;
  border: 1px bold #000000;
  margin-bottom: 30px;
}

.horz-line-about {
  width: auto;
  height: 2px;
  background-color: rgb(196, 195, 195);
  margin-top: 100px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 100px;
  font-weight: bolder;
}

.wework-title {
  font-weight: 600;
  font-size: 2em;
  margin-left: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
  color: rgb(78, 78, 221);
}

.accordian-main {
  margin-top: 50px;
  box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.3);
}

.accordian-header {
  font-size: 1.2em;
  font-weight: 600;
}

.accordian-content {
  font-size: 1.2em;
  font-weight: 400;
  margin: 20px;
}

.facilities-main {
  box-shadow: 0 8px 40px -12px rgba(0, 0, 0, 0.3);
}

.facilities-list {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.facilities-item {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .whyus-main {
    margin: 40px;
  }

  .whyus-title {
    margin-left: 0px;
    text-align: center;
  }

  .wework-title {
    margin-left: 0px;
    text-align: center;
    margin-top: 50px;
  }
}
